.photo-grid {
  margin: 0 auto;
  margin-bottom: calc((100% - 320px) / (768 - 320) * (88 - 64) + 64px);
  min-width: 288px;
  max-width: 1184px;
  width: calc((100% - 320px) / (768 - 320) * (720 - 288) + 288px);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
}

@media screen and (min-width: 768px) {
  .photo-grid {
    margin-bottom: calc((100% - 768px) / (1024 - 768) * (92 - 88) + 88px);
    width: calc((100% - 768px) / (1024 - 768) * (928 - 720) + 720px);
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    margin-bottom: 88px;
    width: calc((100% - 1024px) / (1280 - 1024) * (1184 - 928) + 928px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
  }
}
