.lead-block {
  margin: 0 auto;
  min-width: 288px;
  max-width: 984px;
  width: calc((100% - 320px) / (768 - 320) * (768 - 320) + 320px);
}

@media screen and (min-width: 768px) {
  .lead-block {
    width: calc((100% - 768px) / (1024 - 768) * (928 - 768) + 768px);
  }
}

@media screen and (min-width: 1024px) {
  .lead-block {
    width: calc((100% - 1024px) / (1280 - 1024) * (984 - 928) + 928px);
  }
}
