.footer__link {
  display: inline-block;
  font-weight: 400;
  font-size: max(calc((100vw - 320px) / (768 - 320) * (16 - 24) + 24px), 16px);
  line-height: max(calc((100vw - 320px) / (768 - 320) * (18 - 24) + 24px), 18px);
  padding: 0;
  color: #FFF;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.8;
}


