.footer__copyright {
  margin: 32px 0 24px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: min(calc((100vw - 320px) / (768 - 320) * (16 - 14) + 14px), 16px);
  color: #FFF;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    margin: 0;
  }
}
