.cover {
  position: relative;
  width: 100%;
  max-width: 1184px;
  margin: 0 auto 64px;
}

.cover:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .cover {
    margin: 0 auto 88px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin: 0 auto 95px;
  }
}
