.footer {
  max-width: 1184px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer {
    margin: 0 auto 24px;
    flex-direction: row;
    justify-content: space-between;
    width: calc((100% - 768px) / (1024 - 768) * (928 - 720) + 720px);
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    width: calc((100% - 1024px) / (1280 - 1024) * (1184 - 928) + 928px);
  }
}
